@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  overflow-x: hidden;
}

.text-neon {
  text-shadow: 0 0 0.25px #00e5ff, 0 0 10px #00e5ff, 0 0 10px #00e5ff, 0 0 10px #00e5ff;
}

.bg-neon {
  background: linear-gradient(90deg, #00e5ff, #ff00ff);
  box-shadow: 0 0 10px #00e5ff, 0 0 40px #ff00ff;
}

@keyframes glitch {
  0% { transform: translate(0); }
  25% { transform: translate(-0.5px, 0.75px); }
  50% { transform: translate(0.5px, -0.75px); }
  75% { transform: translate(-0.5px, -0.5px); }
  100% { transform: translate(0); }
}

.text-glitch {
  position: relative;
  text-shadow: 
    1px 1px 0px #ff00ff, 
    -1px -1px 0px #00e5ff;
  animation: glitch 0.25s infinite;
}

